<h1>Welcome to the Volunteer Tracker Site!</h1>

<div class="container">
  <a href="/projects">View All Projects</a>
  <br>
  <a href="/projects/new">Add New Project</a>
  <a href="/volunteers">View All Volunteers</a>
</div>
