<h3>Create a new Project:</h3>

<form action="/projects" method="post">
  <label for="description">Project Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add Project</button>
</form>
